* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}



.height {
    height: 400px;
}

footer {
    background-color: #23272a;
}


header {
    background-color: #3161e0;

}

.flex {
    display: flex;
}

.menu {
    justify-content: space-around;

}

.flex.header_content {
    height: 200px;
    justify-content: center;
    align-items: center;
}


.section_content {
    justify-content: space-around;
    align-items: center;
}

.even {
    background-color: #f6f6f6;
}

.last_section {
    flex-direction: column;
}

.block1 {
    color: wheat;
    justify-content: space-around;
    height: 200px;
}

hr {
    color: gray;
    margin: 0px 100px;
}

.block2 {
    color: wheat;
    justify-content: space-around;
    padding: 50px 0px;
}